body{
    color:blue;
    background: rgb(179, 227, 152);
    margin:0px;
    font-family:"Embed code" , sans-serif
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: black;
}
.chamada{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}